<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="user_asset/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="user_asset/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="user_asset/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="user_asset/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="user_asset/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="user_asset/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="user_asset/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="user_asset/css/style.css" type="text/css">


    <style>
        .parallelogram {
            width: 140px;
            height: 92px;
            margin-top: 1px;
            background-color: rgb(112, 20, 20);
            transform: skew(-18deg);
            /* Adjust as needed */
        }
    </style>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <!-- <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href='#' class="search-switch"><img src="user_asset/img/icon/search.png" alt=""></a>
            <a href='#'><img src="user_asset/img/icon/heart.png" alt=""></a>
            <a href='/shoping-cart'><img src="user_asset/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div> -->
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top" style="background-color: rgb(112, 20, 20);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                            </div>
                            <div class="header__top__hover">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="parallelogram">
                        <img src="borcelle real.png"
                            style="height: 70px; width: 100px; margin-left: 15px; margin-top: 10px;">
                    </div> <!-- Other scripts -->
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href='/' style="color: rgb(112, 20, 20); font-weight: 700;">Home</a>
                            </li>
                            <li><a href='/shops' style="color: rgb(112, 20, 20); font-weight: 700;">Shop</a></li>

                            <li class="active"><a href="/about"
                                    style="color: rgb(112, 20, 20); font-weight: 700;">About</a>
                            </li>
                            <li><a href="/blog" style="color: rgb(112, 20, 20); font-weight: 700;">Blog</a></li>
                            <li><a href=" /contact" style="color: rgb(112, 20, 20); font-weight: 700;">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option" style="display: flex; margin-left: 30px;">
                        <a href="/shoping-cart"><img src="user_asset/img/icon/cart.png" alt=""></a>
                        <div style="display: flex;">
                            <a href="/user-profile"><img src="user.png" alt="" style="width: 25px;"></a>
                            <% if(name){ %>
                                <h5 style="font-weight: 700; color: rgb(112, 20, 20);">
                                    <%= name %>
                                </h5>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>About Us</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about__pic">
                        <img src="About design.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="about__item">
                        <h4>About Borcelle Men's Fashion</h4>
                        <p>At Borcelle, we believe that every man deserves to look and feel his best. Our journey began
                            with a simple yet powerful vision: to redefine men's fashion by offering premium-quality
                            clothing that exudes confidence, sophistication, and timeless style.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="about__item">
                        <h4>Elevating Men's Style</h4>
                        <p>We understand that style is a personal expression, and we're here to help you elevate yours.
                            Our design philosophy is rooted in blending contemporary trends with classic elegance,
                            creating versatile pieces that seamlessly transition from day to night, boardroom to bar.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="about__item">
                        <h4>Customer-Centric Experience</h4>
                        <p>At Borcelle, our customers are at the core of everything we do. We strive to provide an
                            unparalleled shopping experience, from personalized styling advice to seamless transactions
                            and prompt delivery. Your satisfaction is our utmost priority.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="testimonial__text">
                        <span class="icon_quotations"></span>
                        <p>“We invite you to join the Borcelle community and experience the essence of modern men's
                            fashion. Whether you're dressing for success or expressing your unique sense of style,
                            Borcelle is here to inspire and empower you every step of the way.”
                        </p>
                    
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="testimonial__pic set-bg" data-setbg="user_asset/img/about/about.jpg"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->


    <!-- Team Section Begin -->
    <section class="team spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Team</span>
                        <h2>Meet Our Team</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team__item">
                        <img src="user_asset/img/about/ceo-borcelle-1.png" alt="">
                        <h4>Alexander Steele</h4>
                        <span>Founder & CEO</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team__item">
                        <img src="user_asset/img/about/CCO.jpg" alt="">
                        <h4>Victoria Reign</h4>
                        <span>Chief Creative Officer</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team__item">
                        <img src="user_asset/img/about/team-41.jpg" alt="">
                        <h4>Maximilian Blaze</h4>
                        <span>Chief Operating Officer</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team__item">
                        <img src="user_asset/img/about/team-1.jpg" alt="">
                        <h4>Ismail Nova</h4>
                        <span>Chief Marketing Officer</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer" style="background-color: rgb(112, 20, 20);">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="borcelle real.png" alt="" style="height: 180px;"></a>
                        </div>
                        <p style="margin-top: 30px;">The customer is at the heart of our unique business model, which
                            includes design.</p>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul style="color: #ffffff74; cursor: context-menu;">
                            <li>Clothing Store</li>
                            <li>Mens Store</li>
                            <li>Winter clothes</li>
                            <li>Inner wears</li>
                            <li>Trending Fashions</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Available</h6>
                        <ul style="color: #ffffff74; cursor: context-menu;">
                            <li>Contact Us</li>
                            <li>Payment Methods</li>
                            <li>Delivary</li>
                            <li>Return & Exchanges</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Borcelle men's fashion</h6>
                        <div class="footer__newslatter">
                            <p>
                                Stay connected with Borcelle Men's Fashion to stay updated on the latest trends,
                                exclusive offers, and exciting events! .</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>
                            Visit for the best outlook Thank you<i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">BORCELLE</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="user_asset/js/jquery-3.3.1.min.js"></script>
    <script src="user_asset/js/bootstrap.min.js"></script>
    <script src="user_asset/js/jquery.nice-select.min.js"></script>
    <script src="user_asset/js/jquery.nicescroll.min.js"></script>
    <script src="user_asset/js/jquery.magnific-popup.min.js"></script>
    <script src="user_asset/js/jquery.countdown.min.js"></script>
    <script src="user_asset/js/jquery.slicknav.js"></script>
    <script src="user_asset/js/mixitup.min.js"></script>
    <script src="user_asset/js/owl.carousel.min.js"></script>
    <script src="user_asset/js/main.js"></script>
</body>

</html>