<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BORCELLE</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="user_asset/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="user_asset/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="user_asset/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="user_asset/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="user_asset/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="user_asset/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="user_asset/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="user_asset/css/style.css" type="text/css">

    <link rel="icon" href="/Favicon.png" type="image/x-icon">

    <style>
        .parallelogram {
            width: 140px;
            height: 92px;
            margin-top: 1px;
            background-color: rgb(112, 20, 20);
            transform: skew(-18deg);
            /* Adjust as needed */
        }
    </style>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <!-- <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="user_asset/img/icon/search.png" alt=""></a>
            <a href="#"><img src="user_asset/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="user_asset/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div> -->
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top" style="background-color: rgb(112, 20, 20);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                            </div>
                            <div class="header__top__hover">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="parallelogram">
                        <img src="borcelle real.png" style="height: 70px; width: 100px; margin-left: 15px; margin-top: 10px;">
                    </div> <!-- Other scripts -->
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href='/' style="color: rgb(112, 20, 20); font-weight: 700;">Home</a>
                            </li>
                            <li><a href='/shops' style="color: rgb(112, 20, 20); font-weight: 700;">Shop</a></li>

                            <li><a href="/about" style="color: rgb(112, 20, 20); font-weight: 700;">About</a>
                            </li>
                            <li class="active"><a href="/blog" style="color: rgb(112, 20, 20); font-weight: 700;">Blog</a></li>
                            <li><a href=" /contact" style="color: rgb(112, 20, 20); font-weight: 700;">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option" style="display: flex; margin-left: 30px;">
                        <a href="/shoping-cart"><img src="user_asset/img/icon/cart.png" alt=""></a>
                        <div style="display: flex;">
                            <a href="/user-profile"><img src="user.png" alt="" style="width: 25px;"></a>
                            <% if(name){ %>
                                <h5 style="font-weight: 700; color: rgb(112, 20, 20);">
                                    <%= name %>
                                </h5>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-blog set-bg" data-setbg="user_asset/img/blog-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Our Blog</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
`
    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="user_asset/img/blog/blog-1.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="user_asset/img/icon/calendar.png" alt=""> 16 February 2023</span>
                            <h5>The Art of Tailoring: A Guide to Finding the Perfect Fit</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="user_asset/img/blog/blog-2.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="user_asset/img/icon/calendar.png" alt=""> 21 February 2024</span>
                            <h5>Timeless Elegance: Exploring Classic Men's Fashion Trends</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="user_asset/img/blog/blog-3.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="user_asset/img/icon/calendar.png" alt=""> 28 January 2024</span>
                            <h5>Sustainable Style: Eco-Friendly Fashion Choices for the Modern Man</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="user_asset/img/blog/blog-4.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="user_asset/img/icon/calendar.png" alt=""> 19 December 2023</span>
                            <h5>Accessorize with Confidence: Elevate Your Look with the Right Details</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="user_asset/img/blog/blog-5.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="user_asset/img/icon/calendar.png" alt=""> 01 October 2023</span>
                            <h5>From Runway to Realway: Translating High Fashion Trends for Everyday Wear</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="user_asset/img/blog/blog-6.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="user_asset/img/icon/calendar.png" alt=""> 28 March 2023</span>
                            <h5>Men's Grooming Essentials: Tips and Products for Looking Sharp and Confident</h5>
                        </div>
                    </div>
                </div>
               

                
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer" style="background-color: rgb(112, 20, 20);">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="borcelle real.png" alt="" style="height: 180px;"></a>
                        </div>
                        <p style="margin-top: 30px;">The customer is at the heart of our unique business model, which includes design.</p>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul style="color: #ffffff74; cursor: context-menu;">
                            <li>Clothing Store</li>
                            <li>Mens Store</li>
                            <li>Winter clothes</li>
                            <li>Inner wears</li>
                            <li>Trending Fashions</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Available</h6>
                        <ul style="color: #ffffff74; cursor: context-menu;">
                            <li>Contact Us</li>
                            <li>Payment Methods</li>
                            <li>Delivary</li>
                            <li>Return & Exchanges</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Borcelle men's fashion</h6>
                        <div class="footer__newslatter">
                            <p>
                                Stay connected with Borcelle Men's Fashion to stay updated on the latest trends,
                                exclusive offers, and exciting events! .</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>
                           Visit for the best outlook Thank you<i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">BORCELLE</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="user_asset/js/jquery-3.3.1.min.js"></script>
    <script src="user_asset/js/bootstrap.min.js"></script>
    <script src="user_asset/js/jquery.nice-select.min.js"></script>
    <script src="user_asset/js/jquery.nicescroll.min.js"></script>
    <script src="user_asset/js/jquery.magnific-popup.min.js"></script>
    <script src="user_asset/js/jquery.countdown.min.js"></script>
    <script src="user_asset/js/jquery.slicknav.js"></script>
    <script src="user_asset/js/mixitup.min.js"></script>
    <script src="user_asset/js/owl.carousel.min.js"></script>
    <script src="user_asset/js/main.js"></script>
</body>

</html>