<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BORCELLE</title>
    <link rel="icon" href="/Favicon.png" type="image/x-icon">

<style>
    .tmp{
        height: 30px;
        background-color: rgb(112, 7, 7);
        color: antiquewhite;
        border-color: antiquewhite;
    }
</style>
</head>
<body>
    <div style="margin-top: 50px; margin-left: 650px;"><img src="Borcelle white.png" alt="" style="width: 200px;"></div>
    <h1 style="margin-left: 450px; color: rgb(112, 7, 7);">
        YOUR ORDER PLACED SUCCESSFULLY
    </h1>
    <img src="successfull.png" alt="" style="width: 130px; margin-left: 680px;">
    <br>
    <br>
    <br>
    <a href="/shops" style="text-decoration: none; margin-left: 600px;" ><button class="tmp"> Countinue shopping</button></a>
    <a href="/user-orders" style="text-decoration: none; margin-left: 10px;"><button class="tmp">Your Orders history</button></a>
</body>
</html>