<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BORCELLE</title>

    <link rel="icon" href="/Favicon.png" type="image/x-icon">

    <style>
        .card {
            width: 70rem;
            margin-top: 40px;
            margin-left: 120px;
        }

        .header1 {
            color: rgba(255, 228, 196, 0.903);
            margin-left: 610px;
            font-family: 'Times New Roman', Times, serif;
        }


        h3 {
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        .side {
            background-color: rgb(133, 24, 24);
            border: 0;
            color: antiquewhite;
            width: 90%;
            margin-left: 16px;
            height: 40px;
            margin-top: 20px;
        }
        .mainbtn{
            height: 30px;
            background-color: rgb(112, 7, 7);
            color: antiquewhite;
            cursor: pointer;
            border-color: antiquewhite;
            margin-left: 1280px;
            width: 150px;
        }
    </style>


</head>
<body>
  
    
</body>
</html>