<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BORCELLE</title>

    <link rel="icon" href="/Favicon.png" type="image/x-icon">

</head>
<style>
    .lab {
        color: white;
    }

    .insert {
        height: 20px;
        width: 380px;
    }

    .submit {
        color: rgb(112, 7, 7);
        font-weight: 600;
    }

    .profile {
        margin-top: 20px;
        width: 120px;
        margin-left: 700px;
        color: antiquewhite;
        background-color: rgb(112, 7, 7);
        border-color: antiquewhite;
        height: 30px;
    }
</style>

<body>
    <div style="background-color: rgb(112, 7, 7); display:flex; padding: 60px; padding-left: 300px; margin-top: 100px;">
        <div>
            <img src="borcelle real.png" alt="logo" style="height: 250px;">
        </div>
        <div style="margin-left: 200px;">
            <h3 style="color: antiquewhite;">FORGOT PASSWORD</h3>
            <form method="post">
                <label for="email" class="lab">Enter your email Address</label><br>
                <input type="email" name="email" required class="insert" id="userEmail">

                <button class="submit" type="button" style="height: 25px; width: 100px;" onclick="emailSubmit()"
                    id="emailSend">Submit</button><br>

                <label for="otp" class="lab" id="otpLabel" style="display: none;">Enter OTP:</label><br>
                <input type="number" name="otp" required class="insert" id="enteredOtp" style="display: none;">
                <button class="submit" type="button" style="height: 25px; width: 100px; display: none;"
                    onclick="otpSubmit()" id="otpSend">Submit</button>

            </form>
        </div>
    </div>
    <div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

        function emailSubmit() {
            const userEmail = document.getElementById('userEmail').value;
            console.log(userEmail);

            // Create an object with the email address
            const data = { email: userEmail };

            fetch("/login-forgot-password", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                // Convert the object to JSON format
                body: JSON.stringify(data),
            }).then(response => {
                if (!response.ok) {
                    Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "The user not found !!"
                        });
                }
                return response.json();
            })
                .then(data => {
                    if (data.message === "User found") {
                        document.getElementById("emailSend").style.display = "none";
                        document.getElementById("otpLabel").style.display = "inline-block";
                        document.getElementById("enteredOtp").style.display = "inline-block";
                        document.getElementById("otpSend").style.display = "inline-block";

                    } else {
                        console.log("User not found");
                    }
                })
        }

        function otpSubmit() {
            const enteredOtp = document.getElementById('enteredOtp').value;
            console.log(enteredOtp);

            // Create an object with the entered OTP
            const data = { enteredOtp: enteredOtp };

            fetch("/login-forgot-password", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            })
                .then(response => {
                    if (!response.ok) {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Your otp is not matching !!"
                        });
                    }   
                    return response.json(); // Parse the JSON response
                })
                .then(data => {
                    if (data.message === "User confirmed") {
                        const userEmail = document.getElementById('userEmail').value;
                        
                        window.location.href =  `/forgot-confirm?email=${encodeURIComponent(userEmail)}`;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }


    </script>

</body>

</html>